<div class="page-wrapper">
  <div class="heading_container">
    <h2 class="food_form_heading">Create Recipe</h2>
    <p class="app_description">Transform your dish from ordinary to extraordinary. Provide the essential details of your recipe.</p>
  </div>

<div class="registration_container">
<div class="registration_form_container">
<%= form_with model: @recipe, url: recipes_path do |form| %>
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, class:'input_field' %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %><br>
    <%= form.number_field :preparation_time, class:'input_field' %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %><br>
    <%= form.number_field :cooking_time, class:'input_field' %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, class:'input_field' %>
  </div>

  <%= form.submit "Create Recipe", class:'registration_button' %>
<% end %>
</div>
</div>
</div>