<div class="add_new_recipe_container">
<h3 class="public-recipe-heading">Public Recipe List</h3>
<% if @public_recipes.any? %>
  <div class="recipe-cards">
    <% @public_recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <div class="recipe-card">
          <div class="name_action_container">
            <h3 class="recipe_text_name"><%= recipe.name %></h3>
            <h5 class="recipe_text_name"> By: <%= recipe.user.name  %></h5>
            <% if can? :destroy, recipe %>
              <%= button_to "Remove", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }, class:'delete_food_button' %>
            <% end %>
          </div>
            <p class="recipe_text"><%= recipe.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No recipes found.</p>
<% end %>
</div>
