<h1><%= @recipe.name %></h1>
<p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> minutes</p>
<p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
<p><strong>Steps:</strong></p>

<%= form_for @recipe, url: toggle_public_recipe_path(@recipe), method: :patch, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :public, class: 'checkbox' do %>
      <%= f.check_box :public, { checked: @recipe.public, class: 'toggle-public' } %>
      <span class="slider round"></span>
    <% end %>
    Make Public
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%=  %></td>
        <td>
          <%= button_to "Delete", food_path(food), method: :delete, data: { confirm: 'Are you sure you want to delete this food?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
